<html>
  <head>
    <title>Hasil Jadwal Dokter</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .default_aligned {
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
      }
    </style>
  </head>
  <body style="background-color:rgb(255, 244, 244)">
    <div class="default_aligned">
      <h1 style="color:black;font-family:sans-serif">Jadwal Dokter</h1>
    </div>
    <div class="default_aligned">
      <div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nama Dokter</th>
              <th scope="col">Rumah Sakit</th>
            </tr>
          </thead>
          <tbody>
            {% for jam,individu in hasilAkhir.items %}
            <td>
              <tr>
                <td colspan="3">{{jam}}</td>
              </tr>
            </td>

            {% for dokter, rs in individu.items %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{dokter}}</td>
              <td>{{rs}}</td>
            </tr>
            {% endfor %} {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
